openapi: 3.0.0
info:
  title: CartesiaAPI
  version: 0.2.0
servers: 
  - url: "https://api.cartesia.ai"
paths:
  "/v0/audio/sse":
    post:
      summary: Generate audio with text-to-speech.
      operationId: stream_audio
      description: |-
        Runs text-to-speech generation and streams the output audio to
        the client.
        Raises:
          HTTPException: If voice or transcript is missing.
      requestBody:
        content:
          text/event-stream:
            schema: 
              "$ref": "#/components/schemas/StreamParams"
          application/json:
            schema: 
              "$ref": "#/components/schemas/StreamParams"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/StreamOutput"
            application/json:
              schema:
                "$ref": "#/components/schemas/StreamOutput"
        '400':
          description: Bad Request
          content:
            text/plain:
              schema: 
                "$ref": "#/components/schemas/HTTPBadRequestError"
        '422':
          description: Validation Error
          content:
            text/event-stream:
              schema: 
                "$ref": "#/components/schemas/HTTPValidationError"
            application/json:
              schema: 
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/voices/{id}/embedding":
    get:
      summary: Retrieve the embedding of a voice.
      description: |-
        Returns the vector embedding of a voice given by its id.

        Raises:
            HTTPException: If the voice id does not exist.
      operationId: voice_embedding
      parameters:
      - in: path
        name: id
        required: true
        schema:
          "$ref": "#/components/schemas/VoiceId"
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VoiceEmbeddingOutput"
        '404':
          description: Not Found
          content:
            text/plain:
              schema: 
                "$ref": "#/components/schemas/HTTPNotFoundError"
        '422':
          description: Validation Error
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/voices":
    get:
      summary: List all voices
      description: |-
        Returns a list of all available voices. Each element is a dictionary with keys `id`, `user_id`, `name`, `description`, `created_at` and `embedding`.
      operationId: list_voices
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/ListVoiceOutput"
      security:
      - APIKeyHeader: []
  "/v0/voices/clone/clip":
    post:
      summary: Clone Voice From Clip
      description: |-
        Clones a voice from an audio clip uploaded as a file. The clip is uploaded using a multipart form in binary format.

        Returns a voice embedding.
      operationId: clone_voice_from_clip
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: 
              type: object
              properties:
                clip:
                  "$ref": "#/components/schemas/AudioFile"
                  default: 
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/VoiceEmbeddingOutput"
        '400':
          description: Bad Request
          content:
            text/plain:
              schema: 
                "$ref": "#/components/schemas/HTTPBadRequestError"
        '422':
          description: Validation Error
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/voices/clone/url":
    post:
      summary: Clone Voice From URL
      description: |-
        Clone a voice from an online URL. Currently only supports YouTube.

        Returns a voice embedding.
      operationId: clone_voice_from_url
      parameters:
      - required: true
        schema:
          "$ref": "#/components/schemas/URL"
        name: link
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VoiceEmbeddingOutput"
        '400':
          description: Bad Request
          content:
            text/plain:
              schema: 
                "$ref": "#/components/schemas/HTTPBadRequestError"
        '422':
          description: Validation Error
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/":
    get:
      summary: Get server status and API version.
      description: Returns the server's version and a status message which can be useful for sanity checking.
      operationId: status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: 
                "$ref": "#/components/schemas/StatusOutput"
      security:
      - APIKeyHeader: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items: 
            "$ref": "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      required:
      - detail
      title: HTTPValidationError
    HTTPNotFoundError:
      type: string
      example: "Not Found"
      title: HTTPNotFoundError
    HTTPBadRequestError:
      type: string
      example: "Bad Request"
      title: HTTPBadRequestError

    Timestamp:
      type: string
      title: Timestamp
      default: "2024-01-01T12:00:00.000000+00:00"
    ModelId:
      type: string
      title: ModelId
      default: 'upbeat-moon'
    Description:
      type: string
      title: Description
      default: ''
    VoiceDescription:
      type: string
      title: VoiceDescription
      default: 'This voice is playful with a touch of flair.'
    Transcript:
      type: string
      title: Transcript
      default: "To be or not to be, that is the question."
    Duration:
      type: integer
      title: Duration
      default: 180
    ChunkTime:
      type: number
      title: ChunkTime
      default: 0.1
    LookAhead:
      type: integer
      title: Lookahead
      default: 8
    OutputFormat:
      type: string
      title: OutputFormat
      default: "fp32_44100"
    VoiceEmbedding:
      items:
        type: number
      type: array
      default: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
      title: VoiceEmbedding
    VoiceId:
      type: string
      title: VoiceId
      default: 'a0e99841-438c-4a64-b679-ae501e7d6091'
    VoiceName:
      type: string
      title: VoiceName
      default: 'Barbershop Man'
    URL:
      type: string
      title: URL
    AudioFile:
      type: string
      format: binary
      title: AudioFile

    VoiceEmbeddingOutput:
      properties:
        embedding:
          "$ref": "#/components/schemas/VoiceEmbedding"
      type: object
      required:
      - embedding
      title: VoiceEmbeddingOutput

    StreamOutput:
      properties:
        data: 
          type: string
          format: byte
          title: data
        step_time:
          type: integer
          title: step_time
        sampling_rate:
          type: integer
          default: 44100
          title: sampling_rate
        done:
          type: boolean
          default: false
          title: done
        length:
          type: integer
          title: length
      type: object
      required:
      - data
      - step_time
      - sampling_rate
      - done
      - length
      title: StreamOutput

    ListVoiceOutput:
      items:
        properties:
          id:
            "$ref": "#/components/schemas/VoiceId"
          user_id:
            type: string
            nullable: true
          is_public:
            type: boolean
            default: true
          name:
            "$ref": "#/components/schemas/VoiceName"
          description:
            "$ref": "#/components/schemas/VoiceDescription"
          created_at:
            "$ref": "#/components/schemas/Timestamp"
          embedding:
            "$ref": "#/components/schemas/VoiceEmbedding"
        type: object
        required:
        - id
        - user_id
        - is_public
        - name
        - description
        - created_at
        - embedding
      type: array
      title: ListVoiceOutput

    StreamParams:
      properties:
        transcript:
          "$ref": "#/components/schemas/Transcript"
        model_id:
          "$ref": "#/components/schemas/ModelId"
        description:
          "$ref": "#/components/schemas/Description"
        duration:
          "$ref": "#/components/schemas/Duration"
        chunk_time:
          "$ref": "#/components/schemas/ChunkTime"
        lookahead:
          "$ref": "#/components/schemas/LookAhead"
        voice:
          "$ref": "#/components/schemas/VoiceEmbedding"
        output_format:
          "$ref": "#/components/schemas/OutputFormat"
      type: object
      required:
      - transcript
      - voice
      title: StreamParams
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: number
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    StatusOutput:
      properties:
        ok:
          type: string
          title: ok
          default: 'ok'
        version:
          type: string
          title: version
          default: '0'
      type: object
      required:
      - version
      - ok
      title: StatusOutput
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key